.new-post-container{
  padding: 20px;
  max-width: 50vw;
  min-width: 50vw;
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: var(--white);
  margin: 15px 0px;
}

.new-post-header{
  display: flex;
  margin-bottom: 10px;
}

.new-post-header input{
  flex: 1;
  border: 1px solid var(--gray);
  border-radius: 10px;
  outline: none;
  padding: 5px;
  font-size: 20px;
}

.new-post-img{
  margin-right: 10px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.new-post-img img{
  min-width: 100%;
  min-height: 100%;
}

.new-post-action{
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
}

.new-post-action span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  margin: 4px 0px;
  border-radius: 5px;
}

.new-post-container span svg{
  margin-right: 5px;
  font-size: 30px;
}

.new-post-container span svg{
  color: var(--blue);
}

.new-post-container span:first-child svg{
  color: var(--green);
}

.new-post-action span:hover{
  background-color: var(--wash);

  cursor: pointer;
}