@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
@font-face {
  font-family: "Nova";
  src: url("./assets/fonts/nova/nova-round.book.ttf");
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-color: var(--wash);
}

:root {
  --purple: #6E0F7D;
  --gray: #ccc9ce;
  --light-gray: #65676b;
  --lilac: #6504B5;
  --dark-lilac: #410078;
  --black: #000000;
  --light-black: #4d4751;
  --white: #fff;
  --wash: #f0f2f5;
  --blue: #2374e1;
  --green: #45bd62;
}

.dark{
  --black: #fff;
  --white: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
